.navbar{
    background-color: rgba(60, 62, 68, 0.582);
    border-bottom: 3px solid white;
    position: sticky !important;
    left: 0;
    top: 0;
    width: 100%;
    
    z-index: 2;
    margin-bottom: 20px;
    height: 90px;
    line-height: 90px;
}

.links{
    display: flex;
}

h3{
    margin: 10px;
    text-decoration: none !important;
    color: white;
    font-family: 'Akshar', sans-serif;
    
}

a{
    text-decoration: none !important; 
    color: white;
    font-family: 'Akshar', sans-serif;
    
}